@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  outline: none;
}

main {
  display: flex;
  max-height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28vw;
  padding: 4.5vw 3.4vw;
}

.login-form__logo img {
  width: 11vw;
  margin-bottom: 4vw;
}

h3 {
  font-size: 1vw;
  font-weight: 700;
  margin-bottom: 0.9vw;
}

.login-form__inputs {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form__inputs label {
  width: 100%;
  font-size: 1vw;
  font-weight: 500;
  color: #716E6E;
  padding: 0.5vw 0 0 1vw;
  border-radius: 0.3vw 0.3vw 0 0;
  background-color: #E8E6E6;
}

.login-form__inputs input {
  width: 20vw;
  height: 2.5vw;
  margin-bottom: 10%;
  padding: 1vw;
  border: none;
  border-radius: 0 0 0.3vw 0.3vw;
  font-size: 1vw;
  font-weight: 700;
  background-color: #E8E6E6;
}

.inputs__see-password {
  position: absolute;
  bottom: 2.5vw;
  right: 0;
  width: 3vw;
  height: 3vw;
  background-color: #E8E6E6;
}

.login-form__inputs i {
  position: relative;
  left: 0.7vw;
  bottom: -1.2vw;
  font-size: 1.2vw;
  color: #716E6E;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.login-form__inputs i:hover {
  color: #000;
}

.invisible {
  display: none;
}

.login-form__social-medias {
  display: flex;
  gap: 1.6vw;
}

.login-form__social-medias figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.6vw;
  height: 2.5vw;
  padding: 1vw 2.5vw;
  border-radius: 0.3vw;
  background-color: #000;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.login-form__social-medias figure:nth-child(1) {
  background-color: #2051FF;
}

.login-form__social-medias figure:nth-child(2) {
  background-color: #8A0000;
}

.login-form__social-medias img {
  width: 1.5vw;
  height: 1.5vw;
}

.login-form__social-medias figure:hover {
  transform: translateY(-5px);
}

.login-form__keep-login {
  width: 100%;
  margin: 2vw 0 4vw 0;
}

.login-form__keep-login input {
  display: none;
}

.login-form__keep-login input + label::before {
  content: "";
  display: inline-block;
  width: 1.2vw;
  height: 1.2vw;
  margin-right: 0.5vw;
  border-radius: 0.2vw;
  margin-bottom: -0.1vw;
  cursor: pointer;
  background-color: #D9D9D9;
}

.login-form__keep-login input:checked + label::before {
  background-image: url('../image/check-icon.png');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 55% 50%;
  background-color: #FF002E;
}

.login-form__keep-login label {
  position: relative;
  cursor: default;
  font-size: 1.1vw;
  font-weight: 700;
}

.login-form__btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form__btn-container button {
  width: 3vw;
  height: 2.9vw;
  margin-bottom: 0.6vw;
  border-radius: 0.8vw;
  border: none;
  cursor: pointer;
  background-color: #FF002E;
}

button.blocked {
  position: relative;
  cursor: no-drop;
  background-color: #FF002E36;
}

.login-form__btn-container i {
  color: #fff;
  font-size: 2vw;
}

.login-form__btn-container a {
  font-size: 0.9vw;
  color: #A6A6A6;
}

.login-form__btn-container a:hover {
  transition: 0.3s ease-in-out;
  color: #d22a36;
}

.banner {
  background-image: url('../image/banner.png');
  background-repeat: no-repeat;
  background-size: 100% 41.03vw;
  background-position: right top;
  width: 78vw;
  height: 100vh;
}

/* Media Queries */

@media (max-width: 800px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-form {
    width: 30vw;
    height: 70vh;
    border-radius: 5px;
    background-color: #fff;
    transform: scale(1.2);
  }

  .login-form__inputs i {
    bottom: -0.3vw;
  }

  .login-form__keep-login {
    margin-left: 3.2vw;
  }

  .banner {
    position: absolute;
    background-size: cover;
    background-position: center;
    width: 100vw;
    z-index: -1;
  }
}

@media (max-width: 460px) {
  .login-form {
    width: 28vw;
    height: 40vh;
    border-radius: 5px;
    background-color: #fff;
    transform: scale(2);
  }

  .login-form__inputs i {
    bottom: 1.8vw;
  }

  .login-form__keep-login {
    margin-left: 1vw;
  }

  .login-form__btn-container i {
    position: absolute;
    top: 0.6vw;
    left: 0.5vw;
  }
}

@media (max-width: 400px) {
  .login-form {
    height: 35vh;
    transform: scale(2.5);
  }

  .login-form__inputs i {
    bottom: 2.5vw;
  }
}